{% extends "base.html" %}
{% block title %}Elbrus Climbing Gym: About Us{% endblock %}

{% block menu %}
  <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li class="selected"><a href="about_us">About Us</a></li>
          <li><a href="training_categories">Our Trainings</a></li>
          <li><a href="athletes">Our Athletes</a></li>
          <li><a href="coaches">Our Coaches</a></li>
          <li><a href="contact_us">Contact Us</a></li>
        </ul>
      </div>
{% endblock %}
{% block content %}
  <div id="content">
        <h1>About Us</h1>
        <h2>Address</h2>
        <p>Severodvinsk, Svobody str. 4</p>
        <h2>Phone number</h2>
        <p>+7-902-191-51-21</p>
        <h2>Parameters</h2>
        <p>Maximum height of walls for sport climbing: 18 meters</p>
        <p>Boulder zone: over 200 square meters</p>
        <p>Fittness area with various machines</p>
      </div>
{% endblock %}
