{% extends "base.html" %}
{% block title %}Elbrus Climbing Gym: Trainings{% endblock %}

{% block menu %}
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li><a href="/">Home</a></li>
      <li><a href="/about_us">About Us</a></li>
      <li class="selected"><a href="/training_categories">Our Trainings</a></li>
      <li><a href="/athletes">Our Athletes</a></li>
      <li><a href="/coaches">Our Coaches</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
  <div id="content">
    <h1>Add athlete in training</h1>
    <form action="#" method="post">
      <div class="form_settings">
        <p>
          <span>Athlete name</span>
<!--          <input class="contact" type="text" name="time" value="" id="time"/>-->
          <select name="athlete_name">
            {% for athlete in objects_list %}
            <option value="{{athlete.name}}">{{athlete.name}}</option>
            {% endfor %}
          </select>
        </p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Add" /></p>
      </div>
    </form>

  </div>
{% endblock %}

