{% extends "base.html" %}
{% block title %}Elbrus Climbing Gym: Trainings{% endblock %}

{% block menu %}
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li><a href="/">Home</a></li>
      <li><a href="/about_us">About Us</a></li>
      <li class="selected"><a href="/training_categories">Our Trainings</a></li>
      <li><a href="/athletes">Our Athletes</a></li>
      <li><a href="/coaches">Our Coaches</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
  <div id="content">
    <h1>Chage training</h1>
    <h2>Training parameters</h2>
    <p>Time: {{ objects_list.time }}</p>
    <p>Coach: {{ objects_list.coach }}</p>
    <h2>Set new parameters</h2>
    <form action="#" method="post">
      <div class="form_settings">
        <p>
          <span>Time</span>
<!--          <input class="contact" type="text" name="time" value="" id="time"/>-->
          <select name="time">
          <option value="8:00">8:00</option>
          <option value="9:00">9:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          </select>
        </p>
        <p>
          <span>Coach</span>
<!--          <input class="contact" type="text" name="coach" value="" id="coach"/>-->
          <select name="coach">
            {% for coach in coaches_list %}
              <option value="{{coach.name}}">{{coach.name}}</option>
            {% endfor %}
          </select>
        </p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Change" /></p>
      </div>
    </form>

  </div>
{% endblock %}

