{% extends "base.html" %}
{% block title %}Elbrus Climbing Gym: Contact Us{% endblock %}

{% block menu %}
  <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="about_us">About Us</a></li>
          <li><a href="training_categories">Our Trainings</a></li>
          <li><a href="athletes">Our Athletes</a></li>
          <li><a href="coaches">Our Coaches</a></li>
          <li class="selected"><a href="contact_us">Contact Us</a></li>
        </ul>
      </div>
{% endblock %}
{% block content %}
  <div id="content">
        <h1>Contact Us</h1>
        <p>You can send us e-mail vial this form</p>
        <form action="#" method="post">
          <div class="form_settings">
            <p>
              <span>Name</span>
              <input class="contact" type="text" name="your_name" value="" id="name"/>
            </p>
            <p>
              <span>Email Address</span>
              <input class="contact" type="text" name="your_email" value="" id="email"/>
            </p>
            <p>
              <span>Message</span>
              <textarea class="contact textarea" rows="8" cols="50" name="your_enquiry" id="message"></textarea>
            </p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
    </div>
{% endblock %}
