{% extends "base.html" %}
{% block title %}Elbrus Climbing Gym: Index{% endblock %}

{% block menu %}
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li class="selected"><a href="/">Home</a></li>
      <li><a href="about_us">About Us</a></li>
      <li><a href="contact_us">Contact Us</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
  <div id="content">
    <h1>Welcome to the Elbrus climbing gym website</h1>
    <p>We are the best climbing gym in Severodvinsk. Best prices highest walls and biggest boulder area.</p>
  </div>
{% endblock %}

