{% extends "base.html" %}
{% block title %}Elbrus Climbing Gym: Index{% endblock %}

{% block menu %}
  <div id="menubar">
    <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
      <li><a href="/">Home</a></li>
      <li><a href="about_us">About Us</a></li>
      <li class="selected"><a href="training_categories">Our Trainings</a></li>
      <li><a href="athletes">Our Athletes</a></li>
      <li><a href="coaches">Our Coaches</a></li>
      <li><a href="contact_us">Contact Us</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
  <div id="content">
    <h1>Select trainig category</h1>
      {% for category in objects_list %}
        <p><a href="/trainings/?id={{category.id}}">{{category.name}}</a></p>
      {% endfor %}
  </div>
{% endblock %}

